body{

    background-color: lightblue;
}
li{
    font-size: 20px;
    color: darkblue;
}
p{
    font-size: 18px;
    color: darkgreen;
}
ul{
    font-size: 22px;
    color: brown;
}   
h4{
    font-size: 18px;
    color: purple;
}
.p1{
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.color3{
    color: red;
}
.color1{
    color: green;
}